.link-collapse {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
  min-width: 175%;
}

.link-collapse:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.nft-logo {
  width: 640px;
  height: 640px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
}

.nft-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details-button {
  margin-left: auto;
  background: none;
  border: none;
  color: #6c757d;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.details-button:focus {
  outline: none;
}

.arrow-icon {
  border: solid #6c757d;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 8px;
  transform: rotate(45deg);
  transition: transform 0.2s ease-in-out;
}

.arrow-icon.rotate {
  transform: rotate(-135deg);
}

.details-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.details-container.open {
  max-height: max-content;
}
